<div class="MainContent ">
    <div >
        <br>
        <h5> About this Site</h5>
        <br>
            <p>Hello and welcome to my site. This site has my upcoming projects along with what I have already done. </p>
    </div>
    <br>
    <div>
        <h5> Upcoming Projects </h5>
            <br>
            <p>- Adding new features to the experimental tab (currently none) -</p>
            <p>- Creating some sort of AI using python -</p>
            <p>- Design changes for the website -</p>
    </div>
    <br>
</div>

