<div class="MainContent ">
    <div class="SubContent">
        <h5> About this Site</h5>
            <p>Hello and welcome to this site. This site was made to keep track of all the projects I made was also displaying them to everyone. This site will display all my upcoming and completed projects along with an expermental tab.
                The experimental tab is just simply an area were I can try new things out. If you want to know more about me or check out the projects I worked on look below for the appropriate links.
            </p>
    </div>
    <br>
    <div class=SubContent>
        <h5> Upcoming Projects </h5>
            <p>ABC</p>
    </div>
</div>
