<div class="MainContent ">
    <div >
        <br>
        <h5> About this Site</h5>
        <br>
            <p>Hello and welcome to my site. This site has my upcoming projects along with what I have already done. </p>
            <p>I will also be testing new things in the experimental tab that I will either turn into a bigger idea or use to improve the site in some way.</p>
    </div>
    <br>
    <div>
        <h5> Upcoming Projects </h5>
            <br>
            <p>- Adding a drawing area to experimental, along with removing test animations -</p>
            <p>- Creating some sort of AI using python -</p>
            <p>- New design overhaul on home tab and projects -</p>
    </div>
    <br>
</div>

