<nav class="navbar navbar-expand-md navbar-custom ">
  

  <a class="navbar-brand" href="#">
    <img class="thumbnail" src="assets/images/Logo.PNG" >
    BimBim 
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li [ngClass]="{'nav-item' : true,  'active' : homeLink}">
          <a (click)="linkClicked('home')" class="nav-link" routerLink="/main" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li [ngClass]="{'nav-item' : true,  'active' : projectsLink }" >
          <a (click)="linkClicked('project')" class="nav-link" routerLink="/projects" routerLinkActive="active" >Projects</a>
        </li>
        <li [ngClass]="{'nav-item' : true,  'active' : experimentalLink}" >
          <a (click)="linkClicked('experimental')" class="nav-link" routerLink="/experimental" routerLinkActive="active" >Experimental</a>
        </li>
        <li class="nav-item  ">   
          <a   class="nav-link">Dark Theme: <label class="switch  mr-3 " style="top:3px; left:5px;" >
            <input type="checkbox" (click)="changeTheme()"  >
            <span class="slider round" ></span>
          </label></a>
          
        </li>

        
      </ul>
    </div>
  </nav>